@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background: #FAF7E0; */
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
   min-height: 3rem;
   align-items: center;
   padding: 2rem;
    font-size: 18px; 

}
li{
    list-style-type: none;
}

#nav_left{
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#nav_left ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    
}
.four{
    display: flex;
    gap: 2rem;
}
#logo{
     font-weight: 700;
     font-size: 2rem;
}

#nav_left ul li a{
    list-style-type:  none;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

#nav_right ul{
    display: flex;
    gap: 1rem;
}

#nav_right ul li a{
    list-style-type:  none;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    padding: 0.7rem;
}

#idra{
    border: 2px solid hsl(0, 0%, 41%);
    transition: all 0.2s;
    border-radius: 10%;
}

#idl:hover{
    transition: all 0.2s;
    border: 2px solid hsl(0, 0%, 41%) ;
    /* padding: 0.7rem; */
    border-radius: 10%;
   
}

.main img{
    height:80vh;
}

.main{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
     align-content: center;
}

.main .main_left{
    display: flex;
    flex-direction: column;
}
.main .main_left p{
    margin-bottom: 2rem;
}

.main_left #head{
    font-weight: 700;
    font-size: 5rem;
    /* border: 2px solid blue; */
    margin-bottom: 2rem;
}

button{
    background-color: black;
    width: max-content;
    padding: 0.9rem;
    font-weight: 700;
    color: white;
    border-radius: 0.7rem;
}
.hamberger{
    display: none;
    background-color: white;
}

@media screen and (max-width : 813px){
    .hamberger{
        display: block;
        position: absolute;
        right: 0;
        background: url(icon-menu.svg);
        background-repeat: no-repeat;
        height: 2.5rem;
        aspect-ratio: 1;
        border: none;
        z-index: 999;
        margin: 1rem;
        transition: all 0.3s;

    }


    .main{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .main img{
        width: 90%;
    
    }
    .four{
        display: none;
    }
    #nav_right{
        display: none;
    }
    #nav_left{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .nav_mobile{
        display: none;
        flex-direction: column;
        position:absolute;
        right: 0;
        top: 2rem;
        flex-wrap: wrap;
        width: 70vw;
        height: auto;
        min-height: auto;
        position: fixed;
        backdrop-filter: blur(1rem);
        background: hsl(0, 0, 0%,0.3);
        transition: all 0.3s;
        
    }

    .four{
        flex-direction: column;
        gap: 2rem;
        height: 60vh;
        justify-content: space-between;
        align-items: start;
        padding-left: 1rem;
        width: 100%;
        margin-top: 4rem;
        font-weight: 600;
        color: black;
        transition: all 0.3s;
    }
    #nav_right{
        display: none;
    }
    #idra{
        background: black;
        border: none;
    }

    #idra:hover{
        background: transparent;
        border: 2px solid black;
    }
}
